:root {
  --primary: #534334;
  --secondary: #c5c9e9;
  --primary-rgb: 255, 204, 128;
  --secondary-rgb: 128, 201, 255;
  --dark-gray: 56, 56, 56;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  animation: gradientAnimation 8s linear infinite;
  background-size: 200% 200%;
  background-image: linear-gradient(45deg, #ff0000a5, rgb(0, 0, 255));
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

* {
  box-sizing: border-box;
}

.todo-app-container {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 12px;
}

.todo-app-container > * {
  border-bottom: 1px solid rgba(var(--dark-gray), 0.4);
  padding: 0 0.7em;
}

.todo-app-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input {
  border-color: transparent;
  padding: 0.7em;
  outline: none;
}

.task-input {
  width: 90%;
  position: relative;
}

.task-input-form {
  position: relative;
  margin: 1em 0;
  display: flex;
  align-items: center;
}

.task-input-form label {
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 16px;
  color: rgba(var(--dark-gray), 0.8);
  pointer-events: none;
  transition: 0.2s ease-out;
}

.task-input:focus ~ label {
  top: -20px;
  left: 2px;
  color: rgba(var(--dark-gray), 0.9);
  font-size: 14px;
}

#addBtn {
  width: 11%;
  font-size: 2rem;
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.todo-app-list-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.todo-app-list-container li {
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 0.5em;
  border-bottom: 1px solid rgba(var(--dark-gray), 0.2);
}

.task-list {
  padding-left: 0;
}

.clear-completed-tasks {
  width: 100%;
  padding: 0.5em;
  background: rgb(var(--dark-gray));
  color: #d1d1d1;
  cursor: pointer;
}

.clear-completed-tasks:hover {
  background: rgb(var(--dark-gray), 0.8);
  color: #cecece;
}

.task i {
  margin-left: auto;
}

.fa-ellipsis-vertical:hover {
  cursor: move;
}
